<!-- {% load static %}-->
<!doctype html>
<html lang="tr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../static/indicators/img/favicon.ico">
	<title>Verizeka</title>
	<script src="../../static/indicators/vendor/jquery/jquery.3.3.1.min.js" type="text/javascript"></script>
	<script src="../../static/indicators/vendor/bootstrap/bootstrap.min.js" type="text/javascript"></script>
	<link href="../../static/indicators/vendor/bootstrap/bootstrap.min.css" rel="stylesheet">
	<link href="../../static/indicators/css/all.min.css" rel="stylesheet">
	<link href="../../static/indicators/css/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'indicators/main.css'%}">
  </head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
	<a class="navbar-brand" href="#"><img src="../../static/indicators/img/logo-verizeka-white.png" alt="" width="200"></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navVerizekaMenu" aria-controls="navVerizekaMenu" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navVerizekaMenu">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<!--<a class="nav-link" href="{% url 'indicators-home' %}">Anasayfa</a>-->
				<a class="nav-link" href="{% url 'indicators-home' %}" >Anasayfa</a>
			</li>

		</ul>
		<div class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="settings.html"><i class="fas fa-cogs"></i> Ayarlar</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#"><i class="fas fa-sign-out-alt"></i> Çıkış</a>
			</li>
			<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="flag-icon flag-icon-tr"> </span> Türkçe</a>
						<div class="dropdown-menu" aria-labelledby="dropdown09">
							<a class="dropdown-item" href="#fr"><span class="flag-icon flag-icon-us"> </span>  English</a>
						</div>
					</li>
		</div>
	</div>
</nav>
<!--
<header class="site-header">
	<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
		<div class="container">
			<a class="navbar-brand mr-4" href="/">Verizeka</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarToggle">
				<div class="navbar-nav mr-auto">
					<a class="nav-item nav-link" href="{% url 'indicators-home' %}">Anasayfa</a>
				</div>
				<div class="navbar-nav">
					<a class="nav-item nav-link" href="#">Giriş Yap</a>
					<a class="nav-item nav-link" href="#">Admin</a>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="flag-icon flag-icon-tr"> </span> Türkçe</a>
						<div class="dropdown-menu" aria-labelledby="dropdown09">
							<a class="dropdown-item" href="#fr"><span class="flag-icon flag-icon-us"> </span>  English</a>
						</div>
					</li>
				</div>
			</div>
		</div>
	</nav>
</header>-->
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
     	{% block content %}{% endblock %} 
    </div>
  </div>
</div>
</body>
</html>