{% extends "indicators/base.html" %}
{% block content %}
  <div class="row">
    <div class="col-md-12">
		<img src="heatmap.png" alt="Chart" style="width:100%"> 
  	</div>
  </div>
{% endblock content %} 